:root {
  --primary-bg-color: white;
  --form-bg-color: white;
  --accent-color: #4a90e2;
  --text-color: black;
  --submit-bg-color: darkgreen;
  --submit-hover-bg-color: green;
  --border-color: #ddd;
}
body {
  background-color: var(--primary-bg-color);
  background: linear-gradient(to right, #4a90e2 0%, #fcb69f 100%);
  font-family: 'Ojuju', sans-serif;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border: 1px solid var(--border-color);
  border-radius: 16px;
  width: 70%;
  margin: 40px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--form-bg-color);
  color: var(--text-color);
}

form label {
  display: block;
  margin-bottom: 10px;
}

.radio {
  grid-column: 1 / -1; /* Make radio buttons span full width */
  padding: 10px;
  border-radius: 8px;
  background-color: var(--primary-bg-color);
  color: var(--text-color);
}

input[type='text'],
#name,
textarea,
#message {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--primary-bg-color);
  color: var(--text-color);
}

input[type='submit'] {
  width: 100%;
  padding: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--submit-bg-color);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type='submit']:hover {
  background-color: var(--submit-hover-bg-color);
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: var(--accent-color);
  color: white;
  padding: 8px;
  z-index: 100;
  border: none;
  transition: top 0.3s ease;
}

.skip-link:focus {
  top: 10px;
}

.emoji-text {
  font-family: 'Noto Color Emoji', serif;
}